.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.movieDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.movieForm {
  width: 50%;
  text-align: center;
}
input {
  text-align: center;
}
label {
  margin-right: 10px;
}
textarea {
  resize: none;
}
.moviepic {
  height: 500px;
  width: 340px;
  object-fit: cover;
}

.movie-name {
  font-size: 24px;
  margin: 8px 0px;
  font-weight: 600;
}

.movie-container {
  margin: 10px;
  width: 340px;
  margin-right: 10px;
}

.like-dislike {
  margin: 10px;
  font-size: 16px;
  border-radius: 3px;
}
